# Form Configuration
NEXT_PUBLIC_GOOGLE_FORM_URL=
NEXT_PUBLIC_GF_ENTRY_NAME=
NEXT_PUBLIC_GF_ENTRY_PHONE=
NEXT_PUBLIC_GF_ENTRY_STATE=
NEXT_PUBLIC_GF_ENTRY_COURSE=
NEXT_PUBLIC_GF_ENTRY_SUMMARY=

# Database
MONGODB_URI=

# Admin Authentication
ADMIN_USERNAME=
ADMIN_PASSWORD=
JWT_SECRET=

# Cloudinary (Media Uploads)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
